apiVersion: v1
kind: Service
metadata:
  name: static-app-service
  namespace: wander
  labels:
    app: static-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: static-app

